<!-- <app-checkout></app-checkout>
<app-products></app-products>
<app-cart></app-cart>

<router-outlet></router-outlet> -->

<router-outlet></router-outlet>

<!-- <app-welcome></app-welcome> -->

<head>
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous"
  />
</head>

<div class="container">
  <div class="row">
    <div class="col-md-12 table-bordered">
      <div class="product-menu">
        <nav
          class="
            navbar
            fixed-top
            navbar-expand-lg navbar-dark
            bg-inverse
            pull-xs-left
          "
          style="background-color: #666"
        >
          <div class="container">
            <button
              class="navbar-toggler hidden-sm-up"
              type="button"
              data-toggle="collapse"
              data-target="#excollapsingNavbar"
            >
              &#9776;
            </button>
            <div
              class="collapse navbar-toggleable-xs"
              id="exCollapsingNavbar"
            ></div>

            <a class="navbar-brand" routerLink="/welcome">Dream Bean</a>
            <div class="nav navbar-nav">
              <a class="nav-item nav-link active" routerLink="/welcome">
                Home <span class="sr-only">(current)</span>
              </a>
              <a class="nav-item nav-link" routerLink="/products">Products</a>
              <a class="nav-item nav-link" routerLink="/checkout">Checkout</a>
              <a class="nav-item nav-link" href="#">Sign out</a>
            </div>

            <ul class="nav navbar-nav pull-xs-right">
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  data-toggle="dropdown"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                  >Cart</a
                >
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <address>
      <strong>Contact Info</strong><br />
      0000 Market St, Suite 000, San Francisco, CA 00000, (123) 456-7890,
      <a href="mailto:#">support@dream-bean.com</a>
    </address>
  </div>
</footer>
