<!-- <head>
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous"
  />
</head> -->

<!-- <div class="container">
  <div class="row">
    <div class="col-md-12 table-bordered">
      <div class="product-menu">
        <nav
          class="
            navbar
            fixed-top
            navbar-expand-lg navbar-dark
            bg-inverse
            pull-xs-left
          "
          style="background-color: #666"
        >
          <div class="container">
            <button
              class="navbar-toggler hidden-sm-up"
              type="button"
              data-toggle="collapse"
              data-target="#excollapsingNavbar"
            >
              &#9776;
            </button>
            <div
              class="collapse navbar-toggleable-xs"
              id="exCollapsingNavbar"
            ></div>

            <a class="navbar-brand" href="#">Dream Bean</a>
            <div class="nav navbar-nav">
              <a class="nav-item nav-link active" href="#">
                Home <span class="sr-only">(current)</span>
              </a>
              <a class="nav-item nav-link" routerLink="Products">Products</a>
              <a class="nav-item nav-link" href="#">Checkout</a>
              <a class="nav-item nav-link" href="#">Sign out</a>
            </div>

            <ul class="nav navbar-nav pull-xs-right">
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  data-toggle="dropdown"
                  href="#"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                  >Cart</a
                >
                <div class="dropdown-menu">
                  <span>The Cart Placeholder</span>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
 
</div> -->
<!-- <div class="jumbotron container">
  <h1 class="display-3">FRESH ORGANIC MARKET</h1>
  <p class="lead">Nice chance to save a lot of money</p>
  <hr class="m-y-2" />
  <p>We are open 7 Days a Week 7:00am to 10:00pm</p>
</div> -->

<div class="container pad">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">Quick Shop</div>
        <div class="card-block">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="Search for..."
            />
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button">Go!</button>
            </span>
          </div>
        </div>
      </div>
      <!-- /.card -->
      <div class="card">
        <div class="card-header">Categories</div>
        <div class="card-block">
          <div class="list-group">
            <a href="#" class="list-group-item">All</a>
            <a href="#" class="list-group-item">Meat</a>
            <a href="#" class="list-group-item">Seafood</a>
            <a href="#" class="list-group-item">Bakery</a>
            <a href="#" class="list-group-item">Dairy</a>
            <a href="#" class="list-group-item">Fruit & Vegetables</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <!-- The Product 1 -->
          <div class="card text-center">
            <img
              class="card-img-top img-fluid center-block product-item"
              src="http://placehold.it/270x171"
              alt="Product 1"
            />
            <div class="card-block text-xs-center">
              <h4 class="card-title">Product 1</h4>
              <h4 class="card-subtitle">
                <span class="badge badge-success">$10</span>
              </h4>
              <hr />
              <div class="btn-group" role="group">
                <button class="btn btn-primary">Buy</button>
                <button class="btn btn-info">Info</button>
              </div>
            </div>
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <!-- The Product 2 -->
          <div class="card text-center">
            <img
              class="card-img-top img-fluid center-block product-item"
              src="http://placehold.it/270x171"
              alt="Product 1"
            />
            <div class="card-block text-xs-center">
              <h4 class="card-title">Product 1</h4>
              <h4 class="card-subtitle">
                <span class="badge badge-success">$10</span>
              </h4>
              <hr />
              <div class="btn-group" role="group">
                <button class="btn btn-primary">Buy</button>
                <button class="btn btn-info">Info</button>
              </div>
            </div>
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <!-- The Product N -->
          <div class="card text-center">
            <img
              class="card-img-top img-fluid center-block product-item"
              src="http://placehold.it/270x171"
              alt="Product 1"
            />
            <div class="card-block text-xs-center">
              <h4 class="card-title">Product 1</h4>
              <h4 class="card-subtitle">
                <span class="badge badge-success">$10</span>
              </h4>
              <hr />
              <div class="btn-group" role="group">
                <button class="btn btn-primary">Buy</button>
                <button class="btn btn-info">Info</button>
              </div>
            </div>
          </div>
          <!-- /.card -->
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <!-- The Product N -->
          <div class="card text-center">
            <img
              class="card-img-top img-fluid center-block product-item"
              src="http://placehold.it/270x171"
              alt="Product 1"
            />
            <div class="card-block text-xs-center">
              <h4 class="card-title">Product 1</h4>
              <h4 class="card-subtitle">
                <span class="badge badge-success">$10</span>
              </h4>
              <hr />
              <div class="btn-group" role="group">
                <button class="btn btn-primary">Buy</button>
                <button class="btn btn-info">Info</button>
              </div>
            </div>
          </div>
          <!-- /.card -->
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <!-- The Product N -->
          <div class="card text-center">
            <img
              class="card-img-top img-fluid center-block product-item"
              src="http://placehold.it/270x171"
              alt="Product 1"
            />
            <div class="card-block text-xs-center">
              <h4 class="card-title">Product 1</h4>
              <h4 class="card-subtitle">
                <span class="badge badge-success">$10</span>
              </h4>
              <hr />
              <div class="btn-group" role="group">
                <button class="btn btn-primary">Buy</button>
                <button class="btn btn-info">Info</button>
              </div>
            </div>
          </div>
          <!-- /.card -->
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <!-- The Product N -->
          <div class="card text-center">
            <img
              class="card-img-top img-fluid center-block product-item"
              src="http://placehold.it/270x171"
              alt="Product 1"
            />
            <div class="card-block text-xs-center">
              <h4 class="card-title">Product 1</h4>
              <h4 class="card-subtitle">
                <span class="badge badge-success">$10</span>
              </h4>
              <hr />
              <div class="btn-group" role="group">
                <button class="btn btn-primary">Buy</button>
                <button class="btn btn-info">Info</button>
              </div>
            </div>
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
