<div class="jumbotron container">
  <h1 class="display-3">FRESH ORGANIC MARKET</h1>
  <p class="lead">Nice chance to save a lot of money</p>
  <hr class="m-y-2" />
  <p>We are open 7 Days a Week 7:00am to 10:00pm</p>
</div>

<div id="welcome-products" class="carousel slide" data-ride="carousel">
  <div class="container pad">
    <div class="carousel-inner" role="listbox"></div>

    <div class="row">
      <div class="col-md-12 table-bordered carousel-item active">
        <img
          class="img-fluid center-block product-item"
          src="http://placehold.it/1110x480"
          alt="Bread & Pastry"
        />
      </div>

      <ol class="carousel-indicators">
        <li
          data-target="#welcome-products"
          data-slide-to="0"
          class="active"
        ></li>
        <li data-target="#welcome-products" data-slide-to="1"></li>
        <li data-target="#welcome-products" data-slide-to="2"></li>
      </ol>

      <a
        class="left carousel-control"
        href="#welcome-products"
        role="button"
        data-slide="prev"
      >
        <span class="icon-prev" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="right carousel-control"
        href="#welcome-products"
        role="button"
        data-slide="next"
      >
        <span class="icon-next" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <img
            class="card-img-top center-block product-item"
            src="http://placehold.it/270x171"
            alt="Bakery"
          />
          <div class="card-block">
            <h4 class="card-title">Bakery</h4>
            <p class="card-text">
              The best cupcakes, cookies, cakes, pies, cheesecakes, fresh bread,
              biscotti, muffins, bagels, fresh coffee and more.
            </p>
            <a href="#" class="btn btn-primary">Browse</a>
          </div>
        </div>
      </div>
      <!-- /.col -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <img
            class="card-img-top center-block product-item"
            src="http://placehold.it/270x171"
            alt="Bakery"
          />
          <div class="card-block">
            <h4 class="card-title">Takeaway</h4>
            <p class="card-text">
              It's consistently excellent, dishes are superb and healthy cooked
              with high quality ingredients.
            </p>
            <a href="#" class="btn btn-primary">Browse</a>
          </div>
        </div>
      </div>
      <!-- /.col -->

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <img
            class="card-img-top center-block product-item"
            src="http://placehold.it/270x171"
            alt="Bakery"
          />

          <div class="card-block">
            <h4 class="card-title">Dairy</h4>
            <p class="card-text">
              A dairy product is food produced from the milk of mammals.
            </p>
            <a href="#" class="btn btn-primary">Browse</a>
          </div>
        </div>
      </div>
      <!-- /.col -->
    </div>
    <!-- </div>  -->
    <!-- /.row -->

    <!-- /.container -->

    <!-- /.navbar -->

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <blockquote class="blockquote blockquote-reverse">
      <p>Love all, trust a few, do wrong to none.</p>
      <footer class="blockquote-footer">
        William Shakespeare in
        <cite>All's Well That Ends Well</cite>
      </footer>
    </blockquote>
  </div>
</div>
